services:
  telegram_transcriber:
    build: .
    image: telegramtranscriber
    container_name: telegram_transcript_a_reply_into_message_command
    restart: unless-stopped

    #cpus: "0.8"
    #mem_limit: 512m

    stop_grace_period: 1h

    env_file:
      - ./secrets/telegram.env

    environment:
      - TZ=Europe/Moscow
      - TEMP_DIR=/tmp/telegram_transcriber
      - MODEL_CACHE_DIR=/models
      - SESSION_DIR=/data/session
      - DEFAULT_MODEL_NAME=large
      - DEFAULT_LANG=ru
      - LOW_PRIORITY_EDIT_INTERVAL_SECONDS=120
      - STOP_GRACE_PERIOD=3500
      - WHISPER_DEVICE=cpu
      - WHISPER_COMPUTE_TYPE=int8

    volumes:
      - whisper_models:/models
      - telegram_session:/data/session

    tmpfs:
      - /tmp/telegram_transcriber:size=5g,mode=1777

    stdin_open: true
    tty: true

volumes:
  whisper_models:
  telegram_session:
